<label >members</label>
<div *ngFor="let item of members" class="input-group">
  <span class="input-group-addon" id="basic-addon3">m{{item}}</span>
  <input type="text" class="form-control"  #mem aria-describedby="basic-addon3"   (keyup)="onEntern(mem.value,item)" required>
</div>
<label >members</label>
<div *ngFor="let item of loads" class="input-group">
  <span class="input-group-addon" id="basic-addon3">l{{item}}</span>
  <input type="text" #load class="form-control" id="basic-url" aria-describedby="basic-addon3" (keyup.enter)="onEnterl(load.value,item)" required>
</div>
<button class="btn btn-primary" type="submit"(click)="onsubmit()"></button>
