<div >
    <h1 style="text-align:center;">2D Structure Analyser </h1>
  <div class="container">
    <h2>Team Name:<b> Cloud9</b></h2>
    <ul >
      <li>Amira Mohamed Thabet Ali 43740</li>
      <li>Andrew Ishak Ibrahim Azer 43742</li>
      <li>Aya Sayed Abd El-Ale 43747</li>
      <li>Mahmoud Mohamed Abdelraouf 43884</li>
    </ul>
    <h2>Under the supervision of:</h2><ul> <li>Dr. Mahmoud Khalil</li></ul>
    <h2>Organizers:</h2>
        <ul>
          <li>Eng. Ali Osama</li>
          <li>Eng. Mohamed Ashraf</li>
        </ul>
      <h2>Sponsors:</h2>
      <ul>
        <li>iHub</li>
      </ul>
      <h2>Project description:</h2>
      <p>The project aims to do structural analysis of frames and
          trusses. It helps to compute the bending moments, shear
          forces, axial forces and displacements.</p>
          <h2>References:</h2>
          <p><a href="https://anastruct.readthedocs.io/en/latest/">https://anastruct.readthedocs.io/en/latest/</a>
            -anaStruct Python
            implementation
          </p>
        </div>



</div>
